:host{
    display: block;
    margin-top: 1rem;
}

.no-post-txt{
    text-align: center;
    justify-content: center;
    width: 100%;
}
.labels{
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-weight: bold;
    color: #673ab7;
}
.filterBar{
    width: 98.4%;
    height: 2.5rem;
    border: 2.9px solid #978b8b38;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 0 9px #978b8b38;
    font-size: 1.2rem;
    font-family: 'Roboto';
    font-weight: normal;
    color: #767373e3;
}

.filterBar:focus{
    outline:none;
    /* border-color:#673ab7; */
    box-shadow:0 0 6px #673ab7;
}